AI_PROVIDER="mock"
NEXT_PUBLIC_DEMO_MODE="true"
NAFATH_ENABLED="false"
NAFATH_AUTHORIZATION_URL=""
NAFATH_CLIENT_ID=""
NAFATH_CLIENT_SECRET=""
NAFATH_REDIRECT_URI=""
NAFATH_TOKEN_URL=""
NAFATH_USERINFO_URL=""
ADMIN_PASSWORD=""
DIRECTOR_PASSWORD=""
